@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/darmowe-zdjecie/piekny-widok-na-staw-odzwierciedlajacy-zielone-drzewa-na-brzegu-otoczonym-snieznymi-gorami_181624-4447.jpg?w=1380&t=st=1682535834~exp=1682536434~hmac=630c18767f4bd993bf8c5918b23919d32a257e2ab204afd82d60ed73dd5304e6');
  background-size: cover;
  height: 100vh;
}
