@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/darmowe-zdjecie/wspanialy-mglisty-wschod-slonca-w-karpatach-piekny-letni-krajobraz-dystryktu-volovets-fioletowe-kwiaty-na-trawiastych-lakach-i-zalesionym-wzgorzu-we-mgle_661209-51.jpg?w=1380&t=st=1681907671~exp=1681908271~hmac=54daeea38cedc76a1fcb06b27261db4a44ba49a68598db0b1ec6cb23e5a9037d');
  background-size: cover;
  height: 100vh;
}
